@import "./variables.scss";

.Product {
  display: flex;
  @media (max-width: 767.98px) {
    flex-direction: column;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    flex-direction: row;
  }
  @media (min-width: 991.98px) {
    flex-direction: row;
  }

  aside {
    min-width: 250px;
    background: #ccc;

    .ui-select {
      & > div > span {
        display: none;
      }
      & > div > select {
        width: 100%;
        padding: 10px;
        background-color: $btn-color;
        color: white;
        font-size: $font-size-default;
      }
    }
    select {
      width: 100%;
      padding: 10px;
      background-color: $btn-color;
      color: white;
      font-size: $font-size-default;

      @media (max-width: 767.98px) {
        display: block;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        display: none;
      }
      @media (min-width: 991.98px) {
        display: none;
      }
    }
    ul {
      @media (max-width: 767.98px) {
        display: none;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        display: block;
      }
      @media (min-width: 991.98px) {
        display: block;
      }
      margin: 0;
      padding: 0 0 0 10px;
      li {
        list-style-type: none;
        padding: 10px;
        display: block;
        border-bottom: 1px solid gray;

        &.active {
          a {
            font-weight: bold;
          }
        }
      }
    }
  }
  div.main {
    flex-grow: 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    grid-gap: 10px;
    flex-wrap: wrap;
    @media (max-width: 767.98px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    & > div.product {
      padding: 10px;
      div.description {
        background-color: lightgray;
        height: 5.5em;
        overflow: hidden;
        padding: 5px;
        border-radius: 5px;
      }
      div.title {
        height: 4.5em;
      }
      div.input-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          color: white;
          background-color: $btn-color;
          padding: 10px;
          border: none;
          margin: 10px;
          cursor: pointer;
        }
      }
      div.image {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}
