.Product {
  display: flex;

  aside {
    min-width: 250px;
    background: #ccc;
    ul {
      margin: 0;
      padding: 0 0 0 10px;
      li {
        list-style-type: none;
        padding: 10px;
        display: block;
        border-bottom: 1px solid gray;
      }
    }
  }
  div.main {
    flex-grow: 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    grid-gap: 10px;
    flex-wrap: wrap;
    & > div.product {
      padding: 10px;
      div.description {
        background-color: lightgray;
        height: 5.5em;
        overflow: hidden;
        padding: 5px;
        border-radius: 5px;
      }
      div.title {
        height: 4.5em;
      }
      div.input-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          color: white;
          background-color: #bf2957;
          padding: 10px;
          border: none;
          margin: 10px;
        }
      }
      div.image {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}
