.Product {
  display: flex;

  aside {
    min-width: 250px;
    background: #ccc;
    ul {
      margin: 0;
      padding: 0 0 0 10px;
      li {
        list-style-type: none;
        padding: 10px;
        display: block;
        border-bottom: 1px solid gray;
      }
    }
  }
  div.main {
    flex-grow: 4;
    display: flex;
    flex-wrap: wrap;
    & > div {
      flex: 1 1 22%;
      margin: 10px;
      max-width: 23%;
      img {
        width: 100%;
      }
    }
  }
}
