@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./styles/banner.scss";
@import "./styles/product.scss";
@import "./styles/home.scss";
@import "./styles/navigation.scss";
@import "./styles/cart.scss";

* {
  margin: 0;
  font-family: $font-family;
}

.wrapper {
  margin: 0 auto;
}
footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  padding: 10px;
  color: black;
  text-align: center;
}

@media (min-width: 568px) {
  .wrapper {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1170px;
  }
}
.Login {
  @include form();
}

.Register {
  @include form();
}
