@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./styles/banner.scss";
@import "./styles/product.scss";
@import "./styles/home.scss";
@import "./styles/navigation.scss";
@import "./styles/cart.scss";

* {
  margin: 0;
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  padding: 10px 0;
  color: black;
  text-align: center;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}
.Login {
  @include form();
}

.Register {
  @include form();
}
